@model IEnumerable<ReactDemo.Negocios.Entidades.Tarefa>
@{
    Layout = null;
}
<html>
<head>
    <title>Controle de Tarefas</title>
</head>
<body>
    @Html.React("TarefaBox", new
{
    initialData = Model,
    url = Url.Action("Tarefas"),
    submitUrl = Url.Action("AddTarefa"),
    pollInterval = 2000,
})

    @Html.React("TarefaBoxFinalizadas", new
{
    initialData = Model,
    url = Url.Action("TarefasFinalizadas"),
    pollInterval = 2000,
})
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/js/tutorial.jsx")"></script>
    @Html.ReactInitJavaScript()
</body>
</html>